<?xml version="1.0"?>

<robot name="movensys_navigation" xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <xacro:include filename="$(find movensys_navigation_description)/urdf/diffbot/diffbot.xacro" />
    <xacro:include filename="$(find movensys_navigation_description)/urdf/diffbot/control.xacro" />
    <xacro:include filename="$(find movensys_navigation_description)/urdf/diffbot/transmission.xacro" />
    <xacro:include filename="$(find movensys_navigation_description)/urdf/diffbot/perception.xacro" />
    <xacro:include filename="$(find movensys_navigation_description)/urdf/diffbot/perception.gazebo" />

    <link name="base_footprint"/>
  
    <joint name="base_link_joint" type="fixed">
        <origin xyz="0 0 0.095" rpy="0 0 0" />
        <parent link="base_footprint" />
        <child link="base_link" />
    </joint>

    <xacro:diffbot />

</robot>
